*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar, ul, li
{
    display: inline;
}
#logopage
{
    vertical-align: middle;
}
ul
{
    list-style: none;
}
li
{   
    color: white;
    font-size: 20px;
    padding: 10px;
    vertical-align: middle;
}
.navlogo
{
    vertical-align: middle;
}
.login  
{
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}
#login
{
    background-color:rgb(168, 0, 0);
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  cursor: pointer;
  border-radius: 5px;
}
#login:hover
{
    background-color:rgb(194, 0, 0);
}
.navbar a
{
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    }
.navbar a:hover
{
    background-color: rgb(21, 69, 211);
    color: rgb(0, 147, 206);
}
.navsec
{
    background-color:#011c36;
    max-width: 1400px;
    padding: 15px;
    margin: auto;
    border-radius: 5px;
}
.select 
{
    display: flex;
    column-gap: 30px;
    flex-direction: row;
    justify-content: center;
}
.sec
{
    padding-right: 90px; 
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 6px;
}
.sec-label
{
    color: white;
    vertical-align: middle;
}
.sec-label
{
    font-weight: bold;
}
.listfilm
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px  ;
    max-width: 1400px;
    margin: auto;
}
.listname
{
    display: flex;
    flex-direction: column;
    row-gap: 5px  ;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
}
.filmname
{
    color: white;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.disname
{
    color:#dbdbdba4;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
    text-overflow: ellipsis;
}
h1
{
    color: white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer-li
{
    display: list-item;
    list-style:circle;
    color: #b5b5b5!important;
    font-size: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.footer-content
{
    margin: auto;
    width: 1200px;
}
a
{
    text-decoration: none;
    color: rgb(14, 23, 138);
}
.footer
{
    background:url(C:\Users\white\Desktop\HTML\BTVN\lab6\footerbg.jpg);
    background-image: url(C:\Users\white\Desktop\HTML\BTVN\lab6\footerbg.jpg);;
}
#messfix
{
    position:fixed;
    bottom: 50px;
    right: 50px;
}